@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #050505;
  --color-primary: #00ff88;
}

@layer base {
  body {
    @apply bg-bg text-text antialiased font-sans;
  }
}

@layer components {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/5;
  }

  .text-outline {
    -webkit-text-stroke: 1px #00ff88;
    color: transparent;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff88;
}
